<section class="section-header">
  <header class="header">
    <div class="container">
      <div class="header-logo">ZenduForms</div>
      <nav class="nav">
        <a href="#"><img src="assets/icon/format_list_bulleted.svg" alt="icon"> Forms</a>
        <a href="#"><img src="assets/icon/people.svg" alt="icon">Customers</a>
        <a href="#"><img src="assets/icon/graphic_eq.svg" alt="icon">Submissions</a>
        <a href="#"><img src="assets/icon/history.svg" alt="icon">History</a>
        <a href="#"><img src="assets/icon/insert_chart_outlined.svg" alt="icon">Reports</a>
        <a href="#"><img src="assets/icon/insert_chart_outlined.svg" alt="icon">Workflow</a>
      </nav>
      <div class="header-icon">
        <img src="assets/icon/notifications.svg" alt="icon">
        <img src="assets/icon/logout.svg" alt="icon">
      </div>
    </div>
  </header>
</section>
